<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>A website</title>
    </head>
    <body>
        <h1><%= title %></h1>
        <button onclick="onBtnClick()">button</button>
    </body>
</html>

<script>
function onBtnClick() {
    alert("A website: button click!");
}
</script>